@charset "UTF-8";
/* GLOBAL */
/* здесь используйте глобальные переменные */
/* здесь подключите шрифты */
@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
}
/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lota", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* BLOCKS */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-style-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  text-align: center;
  color: #ffffff;
  background-color: rgb(104, 183, 56);
  cursor: pointer;
}
.button--transparent-bg, .button--slider {
  background-color: transparent;
}
.button--gray {
  color: #444444;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .button {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1200px) {
  .button {
    font-size: 16px;
    line-height: 20px;
  }
}
.button:hover, .button:focus {
  background-color: #5eaa2f;
}
.button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}
.button--gray:hover, .button--gray:focus {
  background-color: #ebebeb;
}
.button--gray:active {
  background-color: #ebebeb;
  color: rgba(68, 68, 68, 0.3);
}
.button--transparent-bg:hover, .button--transparent-bg:focus, .button--transparent-bg:active {
  background: transparent;
}

@media (min-width: 768px) {
  .button--bigger-words {
    font-size: 20px;
    line-height: 26px;
  }
}
@media (min-width: 1200px) {
  .button--bigger-words {
    font-size: 20px;
    line-height: 26px;
  }
}

.header {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.logo:hover, .logo:focus {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .main-nav {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__toggle::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  mask-image: url("../icons/stack.svg#cross-navmenu-mobile");
  mask-repeat: no-repeat;
  mask-size: 100%;
  mask-position: center;
  background-color: #000000;
}
.main-nav__toggle:hover::before, .main-nav__toggle:focus::before {
  opacity: 0.6;
}
.main-nav__toggle:active::before {
  opacity: 0.3;
}

.site-list__link {
  color: #000000;
}
.site-list__link:hover, .site-list__link:focus {
  opacity: 0.6;
}
.site-list__link:active {
  opacity: 0.3;
}

.intro {
  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  background-color: rgba(104, 183, 56, 0.85);
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../images/index/index-background-cat-mobile@2x.png");
  background-position: center, center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

.intro__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .intro__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1200px) {
  .intro__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.intro__slogan {
  line-height: 14px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .intro__slogan {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1200px) {
  .intro__slogan {
    font-size: 20px;
    line-height: 20px;
  }
}

.catalogs {
  position: relative;
}

.catalog-card {
  background-color: #f2f2f2;
}
.catalog-card--slim::before {
  content: "";
  display: block;
  width: 36px;
  height: 50px;
  background-image: url("../icons/stack.svg#index_cat-slim-icon-mobile");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-color: rgb(104, 183, 56);
}
.catalog-card--pro::before {
  content: "";
  display: block;
  width: 67px;
  height: 28px;
  background-image: url("../icons/stack.svg#index_cat-pro-icon-mobile");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: rgb(104, 183, 56);
}

.catalog-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog-card__title {
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1200px) {
  .catalog-card__title {
    font-size: 36px;
    line-height: 36px;
  }
}

.catalog-card__description {
  color: #444444;
}

.catalog-card__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog-card__link {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1200px) {
  .catalog-card__link {
    font-size: 20px;
    line-height: 30px;
  }
}
.catalog-card__link::after {
  content: "";
  display: block;
  width: 32px;
  height: 10px;
  mask-image: url("../icons/stack.svg#index_arrow-icon");
  mask-repeat: no-repeat;
  mask-size: 100%;
  mask-position: center;
  background-color: #000000;
}
.catalog-card__link:hover, .catalog-card__link:focus {
  opacity: 0.6;
}
.catalog-card__link:active {
  opacity: 0.3;
}

.about__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1200px) {
  .about__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.about__item--composition::before {
  content: "";
  display: block;
  width: 25px;
  height: 28px;
  background-image: url("../icons/stack.svg#index_leaf-icon");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: #68b738;
}
.about__item--cooking::before {
  content: "";
  display: block;
  width: 26px;
  height: 29px;
  background-image: url("../icons/stack.svg#index_glass-icon");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: #68b738;
}
.about__item--replace::before {
  content: "";
  display: block;
  width: 25px;
  height: 30px;
  background-image: url("../icons/stack.svg#index_eat-icon");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: #68b738;
}
.about__item--timing::before {
  content: "";
  display: block;
  width: 26px;
  height: 31px;
  background-image: url("../icons/stack.svg#index_scales-icon");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: #68b738;
}

.statistic {
  background-color: #f2f2f2;
}

.statistic__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}
@media (min-width: 768px) {
  .statistic__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1200px) {
  .statistic__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.statistic__number {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .statistic__number {
    font-size: 30px;
    line-height: 37px;
  }
}
@media (min-width: 1200px) {
  .statistic__number {
    font-size: 30px;
    line-height: 37px;
  }
}

.statistic__description {
  font-size: 12px;
  line-height: 12px;
}
@media (min-width: 768px) {
  .statistic__description {
    font-size: 14px;
    line-height: 14px;
  }
}
@media (min-width: 1200px) {
  .statistic__description {
    font-size: 14px;
    line-height: 14px;
  }
}

.statistic__price {
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .statistic__price {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1200px) {
  .statistic__price {
    font-size: 20px;
    line-height: 20px;
  }
}

.contacts__message {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #111111;
}
@media (min-width: 768px) {
  .contacts__message {
    font-size: 20px;
    line-height: 26px;
  }
}
@media (min-width: 1200px) {
  .contacts__message {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__adress {
  line-height: 20px;
  font-style: normal;
}
@media (min-width: 768px) {
  .contacts__adress {
    line-height: 20px;
  }
}
@media (min-width: 1200px) {
  .contacts__adress {
    line-height: 20px;
  }
}

.contacts--gray-bg {
  background-color: #f2f2f2;
}

.footer {
  background-color: #f2f2f2;
}

.social-list {
  width: 132px;
  position: relative;
}

.social-list__link--vk::after {
  content: "";
  display: block;
  width: 27px;
  height: 17px;
  mask-image: url("../icons/stack.svg#social_vk-icon");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100%;
  background-color: #666666;
}
.social-list__link--yt::after {
  content: "";
  display: block;
  width: 24px;
  height: 19px;
  mask-image: url("../icons/stack.svg#social_yt-icon");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100%;
  background-color: #666666;
  right: 50%;
}
.social-list__link--tg::after {
  content: "";
  display: block;
  width: 20px;
  height: 17px;
  mask-image: url("../icons/stack.svg#social_tg-icon");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100%;
  background-color: #666666;
  left: 70px;
}
.social-list__link--vk:hover::after, .social-list__link--yt:hover::after, .social-list__link--tg:hover::after, .social-list__link--vk:focus::after, .social-list__link--yt:focus::after, .social-list__link--tg:focus::after {
  background-color: rgb(104, 183, 56);
}
.social-list__link--vk:active::after, .social-list__link--yt:active::after, .social-list__link--tg:active::after {
  background-color: rgb(104, 183, 56);
  opacity: 0.3;
}

.copyright::before {
  content: "";
  display: block;
  width: 27px;
  height: 34px;
  mask-image: url("../icons/stack.svg#social_html-academy-logo");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100%;
  background-color: #666666;
}
.copyright:hover::before, .copyright:focus::before {
  background-color: rgb(104, 183, 56);
}
.copyright:active::before {
  background-color: rgb(104, 183, 56);
  opacity: 0.3;
}

.copyright__title {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}

.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}
@media (min-width: 768px) {
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1200px) {
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.product-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .product-card__title {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .product-card__title {
    font-size: 20px;
    line-height: 24px;
  }
}

.product-info {
  font-size: 12px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .product-info {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1200px) {
  .product-info {
    font-size: 16px;
    line-height: 20px;
  }
}

.more-products::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../icons/stack.svg#catalog_catalog-plus-icon");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.more-products__lead-text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .more-products__lead-text {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .more-products__lead-text {
    font-size: 20px;
    line-height: 24px;
  }
}

.more-products__text {
  font-size: 12px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .more-products__text {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (min-width: 1200px) {
  .more-products__text {
    font-size: 16px;
    line-height: 18px;
  }
}

.additional-products__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .additional-products__title {
    font-size: 32px;
    line-height: 32px;
  }
}
@media (min-width: 1200px) {
  .additional-products__title {
    font-size: 40px;
    line-height: 40px;
  }
}

.additional-product-card {
  line-height: 14px;
}
@media (min-width: 768px) {
  .additional-product-card {
    line-height: 20px;
  }
}
@media (min-width: 1200px) {
  .additional-product-card {
    line-height: 20px;
  }
}

.additional-product-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
@media (min-width: 768px) {
  .additional-product-card__title {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1200px) {
  .additional-product-card__title {
    font-size: 20px;
    line-height: 20px;
  }
}

.offer {
  background-color: rgba(104, 183, 56, 0.85);
}
.offer::before {
  content: "";
  display: block;
  width: 78px;
  height: 80px;
  background-image: url("../icons/stack.svg#catalog_gift-icon");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.offer__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.subscription__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
@media (min-width: 768px) {
  .subscription__title {
    font-size: 32px;
    line-height: 32px;
  }
}
@media (min-width: 1200px) {
  .subscription__title {
    font-size: 40px;
    line-height: 40px;
  }
}

.subscription__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
@media (min-width: 768px) {
  .subscription__text {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 1200px) {
  .subscription__text {
    font-size: 24px;
    line-height: 32px;
  }
}